<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>return !(event.getRequestURI().contains(""));</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

        <encoder>
            <!-- please see examples of patterns: http://logback.qos.ch/access.html -->
            <pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" %D "%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>return !(event.getRequestURI().contains(""));</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <file>log/localhost_access_logtime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/localhost_access_logtime.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>

        <encoder>
            <!-- please see examples of patterns: http://logback.qos.ch/access.html -->
            <pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" %D "%i{User-Agent}"</pattern>
        </encoder>
    </appender>

    <appender-ref ref="STDOUT"/>

    <appender-ref ref="FILE"/>
</configuration>